
 /*header {
  text-align: center;
  background-color: aquamarine;
  padding: 25px 0;
  margin: 25px 15% 0 15%;
  border: solid salmon 2px;
  border-bottom: none;
  border-radius: 10px;
}*/

@font-face {
  font-family: PoiretOne-Regular;
  src: url(PoiretOne-Regular.ttf);
}


#page-wrap {
  overflow: auto;
  height: 100%;
}

.app {
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: .35em;
    background-image: url("background.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    -webkit-box-shadow: 0 0 26px rgba(0, 0, 0, .13);
    box-shadow: 0 0 26px rgba(0, 0, 0, .13);

}

p {
  padding-left: 50px;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'PoiretOne-Regular';
  height: 100%;
}

html {
  height:100%;
  margin: 0;
}


.box {
  height: 100%;
  width: 75%;
  border: solid black 3px;
  margin: 140px auto 0 auto;
  border-radius: 8px;
  background: white;
  box-shadow: 3px 3px 8px #888888;
  text-align: center;
}

.box h1 {
  text-align: center;
}

ul {
  margin-top: 50px;
}

li {
  list-style: none;
  text-align: left;
  font-size: 18px;
  transition-duration: 0.3s;
}

li:hover {
  font-size: 24px;
}

.header {
  padding: 10px 16px;
  background: white;
  color: black;
  border-bottom: solid black 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}

button {
  margin: 8px 5px;
    background-color: #B48B34;
    border-radius: 5px;
    padding: 7px 8px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
}

button, 
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease-in-out;
}

button:hover,
  input[type=submit]:hover {
    background: #FFDD95;
    color: #44338D;
    cursor: pointer;
  }

  .formButton {
    border: none;
    background-color: #B48B34;

  }

  .inputForm {
    margin-bottom: 25px;
  }

  .textContainer {
    text-align: center;
  }

  .textContainer p {
    padding: 0;
  }

  .languageContainer {
    padding: 0;
  }
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 20px;
    
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 0.5em 0;
    font-size: 1.15em;
  }

  .bm-menu-wrap {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    height: 100%;
    width: 200px !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    height: 100%;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  




